.navbar-brand img{
    width: 100px;
}

.btn.btn-primary{
    background-color: #E64A19;
    border-color: #E64A19;
}



html{
    scroll-behavior: smooth;
    /* Adicionar um efeito de rolagem suave ao documento: */
}

#banner{
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    padding-top: 10%;

}

section{
    min-height: 100vh;
    padding: 50px 0;
} 
